body {
    font-family: "Times New Roman", Times, serif;
    background-color: #0E0B16;
}

canvas {
    position: absolute;
    border: 3px solid #442b9e;
}

.collapse_container {
    position: absolute;
    border: 1px solid transparent;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78.5%;
    width: 70%;
    right: 2.5%;
    top: 2.5%;
}

.control_center {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    height: 15%; 
    width: 100%; 
    background-color: #442b9e;
    border-top: 5px solid #A239CA;
    border-radius: 10px;
}

.collapse_title {
    position: absolute; 
    top: 3%; 
    left: 2%; 
    height: 120px; 
    width: 100%; 
    color: white;
    text-align: left;
    font-size: 2.7em;
    font-family: Impact, sans-serif;
}

.generate_button {
    position: absolute;
    background-color: #E7DFDD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top: 5px solid #A239CA;
    border-left: 5px solid #A239CA;
    width: 40%;
    height: 70%;
    bottom: 13%;
    left: 42.25%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 2em;
    font-family: Impact, sans-serif;
}

.generate_button:active {
    background-color: #A239CA;
    color: white;
}

.image_selector {
    position: absolute;
    left: 4.5%;
    right: 4.5%;
    top: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.image_selector::-webkit-scrollbar {
    width: 0em;
}

.image_selector::-webkit-scrollbar-track {
    background-color: transparent;
}

.image_selector::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.image_selector_item {
    padding: 10px;
    height: 100px;
    width: 90%;
    background-color: #7221be2c;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    flex-shrink: 0;
    overflow-y: hidden;
}

.image_selector_item:active {
    background-color: #291a61;
}

.image_selection_sample {
    position: absolute;
    left: 80px;
    background-color: transparent;
    height: 100px;
    right: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    overflow-y: hidden;
    overflow-x: hidden;
}

.image_selection_title {
    top: 5%;
    bottom: 5%;
    width: 49px;
    background-color: #7221be2c;
    text-align: center;
    overflow: hidden;
    flex-shrink: 0;
}

.input_field {
    position: absolute;
    width: 10%;
    height: 70%;
    background-color: #E7DFDD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top: 5px solid #A239CA;
    border-left: 5px solid #A239CA;
}

.input_field.height {
    bottom: 13%;
    left: 1.5%;
}

.input_field.width {
    bottom: 13%;
    left: 13%;
}

.input_field input {
    background-color: transparent;
    border: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2em;
    font-family: Impact, sans-serif;
    color: #442b9e;
}

.input_field input::placeholder {
    color: #442b9e;
}

.instant_button {
    position: absolute;
    background-color: #E7DFDD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top: 5px solid #A239CA;
    border-left: 5px solid #A239CA;
    width: 5%;
    height: 35%;
    bottom: 30%;
    left: 85%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 1em;
    font-family: Impact, sans-serif;
}

.left_panel {
    position: absolute;
    top: 5%;
    bottom: 20%;
    left: 2%;
    width: 25%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    margin-top: 10px;
}

.sideways_text {
    position: absolute;
    transform-origin: 0 0;
    white-space: nowrap;
    width: fit-content;
    color: #E7DFDD;
    font-family: Impact, sans-serif;
    font-size: 1.5em;
}

.upload_button {
    color: white;
    top: 100px;
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-family: Impact, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}
