body {
    font-family: "Times New Roman", Times, serif;
    background-color: #0E0B16;
}

canvas {
    position: absolute;
    border: 3px solid #442b9e;
}

.collapse_container {
    position: absolute;
    border: 1px solid transparent;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78.5%;
    width: 70%;
    right: 2.5%;
    top: 2.5%;
}

.control_center {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    height: 15%; 
    width: 100%; 
    background-color: #442b9e;
    border-top: 5px solid #A239CA;
    border-radius: 10px;
}

.generate_button {
    position: absolute;
    background-color: #E7DFDD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top: 5px solid #A239CA;
    border-left: 5px solid #A239CA;
    width: 40%;
    height: 70%;
    bottom: 13%;
    left: 42.25%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 2em;
    font-family: Impact, sans-serif;
}

.generate_button:active {
    background-color: #A239CA;
    color: white;
}

.input_field {
    position: absolute;
    width: 10%;
    height: 70%;
    background-color: #E7DFDD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top: 5px solid #A239CA;
    border-left: 5px solid #A239CA;
}

.input_field.height {
    bottom: 13%;
    left: 1.5%;
}

.input_field.width {
    bottom: 13%;
    left: 13%;
}

.input_field input {
    background-color: transparent;
    border: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2em;
    font-family: Impact, sans-serif;
    color: #442b9e;
}

.input_field input::placeholder {
    color: #442b9e;
}

.instant_button {
    position: absolute;
    background-color: #E7DFDD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top: 5px solid #A239CA;
    border-left: 5px solid #A239CA;
    width: 5%;
    height: 35%;
    bottom: 30%;
    left: 85%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 1em;
    font-family: Impact, sans-serif;
}


